<!-- templates/admin/inline_model.html -->

{% load i18n %}

{% for inline_admin_form in inline_admin_formset %}
    <div class="inline-related">
        {{ inline_admin_form.form.non_field_errors }}
        {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
                {{ line.errors }}
                {{ line.field.label_tag }}: {{ line.field }}
            {% endfor %}
        {% endfor %}
        <a href="{% url 'admin:yourapp_inlinemodel_change' inline_admin_form.original.pk %}" class="button" target="_blank">{% trans "View" %}</a>
    </div>
{% endfor %}